*{
    box-sizing: border-box;
}
.recipeDiv {
     text-align: left;
     margin: auto;
     margin-top: 30px;
     color:#640A8A;
     background-color:whitesmoke ;
     overflow: scroll;
    padding: 20px;
    border: 3px solid white;
    border-radius: 25px;
    font-family: 'Handlee', cursive;

}

.pageDiv{
    height: 100vh;
    overflow: scroll;
}

.recipeDiv h2 {
    font-size: 24px;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    margin:0px;
    font-family: 'Handlee', cursive;
}
.header {
    display: flex;
    flex-direction: column;
    height:370px;
    border-bottom: 1px solid grey;
    margin-bottom: 45px;
    background-color: rgba(240, 240, 240, 0.2);

}


body {
    height: 100vh;
    background: url(https://images.unsplash.com/photo-1495147466023-ac5c588e2e94?auto=format&fit=crop&w=668&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D) no-repeat;
    background-size: cover;
    background-position: 0 1%;
}


.addDiv{
    display: flex;
    flex-direction: column;
    width: 300px;
    margin:auto;
    padding: 10px;
}
input::placeholder{
    color:#1E1243
}

.parent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.child{
    width: 350px;
    padding: 25px;

}

.addInput{
    background-color: #FEFEFE;
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
    margin:2px;
    color: #492260;
}


.nav a {
    float:right;
    display: block;
    color:#FEFEFE;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    padding:15px 15px;
    font-family: 'Handlee', cursive;
    font-weight: 800;
    margin-right: 35px;
    background-color: lightgray;
    border-radius: 8%;
}

.nav {
    width:100%;
    border-bottom: 1px solid #492260;
}

.nav a:hover {
    color:#492260;
}

.title {
    text-align: center;
    color: whitesmoke;

}

.title h1 {
    margin-top: 80px;
    margin-bottom: 10px;
    font-size: 85px;
    font-family: 'Handlee', cursive;
    text-align: center;
    color: #1E1243 ;
    text-shadow: -1px 0 white, 0 0px #492260, 0px 0 #492260, 0 -1px  white;

}
span {
    font-size: 22px;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    margin:10px;
    color: #1E1243;

}
.addButton{
    width: 30%;
    margin: auto;
    background: whitesmoke;
    color:#208793;
    font-size: 16px;
    margin-top: 15px;
    font-family: 'Handlee', cursive;
}
.addButton:hover {
    background: #E3EDED;
}
.submitEdit{
    width: 20%;
    margin: auto;
    background: whitesmoke;
    color:#208793;
    font-size: 16px;
    font-family: 'Handlee', cursive;

}
.title h4 {
    font-size: 30px;
    margin: 10px;
    font-family: 'Handlee', cursive;
    text-align: center;
    color: #F7DCFB;
    text-shadow: -1px 0 white, 0 1px #492260, 1px 0 #492260, 0 -1px  white;

}
.notesDiv{
    margin-top:10px;
    border-top: 1px solid #122D35;

}
.deleteButton{
    background-color: gold;
    opacity:0.7;
    color:black;
    float:right;
    font-size: 10px;
    margin-right: 10px;
    font-family: 'Handlee', cursive;
}
.deleteButton:hover {
    background-color: #FEE35D
}

.searchInput {
    font-size: 22px;
    width: 300px;
    display: flex;
    margin: auto;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}
.searchInput:hover{
    background-color: #EEF4F4;
}

.editDiv {
    display: flex;
    flex-direction:column;
    width:100%;
    margin: auto;
    margin-top: 10px;
}

.editButton{
    background: whitesmoke;
    width:30%;
    margin:auto;
    color:#208793;
    font-size: 16px;
    font-family: 'Handlee', cursive;
}
.editButton:hover{
    background: #E3EDED;
}
.footer {
    margin-top: 80px;
    height: 150px;
    border-top:1px solid #492260;
    background-color:  rgba(240, 240, 240, 0.2);
    text-align: center;
    font-family: 'Handlee', cursive;
    font-size: 20px;
    color: #492260;
    padding-top: 60px;

}
